@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #301534;
  --pale-purple: #8b6990;
  --light-pink: #f8eeff;
  --pink: #ad28eb;
  --white: #ffffff;
}

body {
  background-image: url("/assets/images/background-pattern-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--light-pink);
}

.titleDesktop {
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    background-image: url("/assets/images/background-pattern-desktop.svg");
  }

  .titleMobile {
    font-size: 2rem;
  }
}
